/* CARDS */
/* .cards {
  font-size: 2rem;
} */

.clubs {
  color: #1e8625;
}

.diamonds {
  color: #211fca;
}

.hearts {
  color: #cd4949;
}

.spades {
  color: #242427;
}

/* TD DIV */
.spar {
  background-color: hsl(218, 44%, 92%);
  outline: 0.25rem solid hsl(218, 44%, 92%);
}

.flsh {
  background-color: hsl(287, 44%, 92%);
  outline: 0.25rem solid hsl(287, 44%, 92%);
}

.strt {
  background-color: hsl(2, 44%, 92%);
  outline: 0.25rem solid hsl(2, 44%, 92%);
}

/* .---- {
  color: #878787;
} */

tr {
  height: 1px;
}

td {
  height: inherit;
  white-space: nowrap;
}

td div {
  /* color: chartreuse; */
  display: block;
  width: 100%;
  height: 100%;
}

tr:hover {
  border-bottom-color: #495057;
}

/* Remove Arrows/Spinners */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* PRE */
/* [class="pre_open_pre"], */
[class="pre_3bet_pre"],
[class="pre_4bet_pre"],
[class="pre_5bet+_pre"],
[class="pre_l3bet_pre"],
[class="pre_l4bet_pre"],
[class="pre_l5bet+_pre"] {
  /* box-shadow: -0.6rem 0 0 0 #6495ed; */
  /* color: rgba(100, 148, 237, 0.86); */
  text-decoration: underline wavy;
  /* background-color: rgba(100, 148, 237, 0.16);
  outline: 0.25rem solid rgba(100, 148, 237, 0.16); */
}

#IP_table [class="pre_limp_pre"],
#IP_table [class="pre_iso_pre"],
#IP_table [class="pre_3bet_pre"],
#IP_table [class="pre_5bet+_pre"],
#IP_table [class="pre_l4bet_pre"] {
  color: #adb5bd;
}

#OOP_table [class="pre_limp_pre"],
#OOP_table [class="pre_open_pre"],
#OOP_table [class="pre_4bet_pre"],
#OOP_table [class="pre_l3bet_pre"],
#OOP_table [class="pre_l5bet+_pre"] {
  color: #adb5bd;
}

/* ACTIONS */
.action_comma {
  color: #adb5bd;
}

#IP_table .action0 {
  color: #adb5bd;
}

#OOP_table .action1 {
  color: #adb5bd;
}
